* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: black;
  font-family: 'Muli', sans-serif;
  color: #273444;
}

.profile {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 16px;
  width: 400px;
  padding: 32px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}
.profile-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3333333333;
}

.profile-location {
  font-size: 14px;
  line-height: 1.4285714286;
  color: #8492a6;
  margin-bottom: 34px;
}

.profile-detail dt {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.6666666667;
  color: #8492a6;
}

.profile-detail dd {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.25;
  color: #0066ff;
}

.profile img {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 16px;
}
.profile-name {
  margin-bottom: 4px;
}
.profile-locatio {
  margin-bottom: 32px;
}

.profile-detail {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

/* ▼ WHERE YOUR CODE BEGINS */
